{{template "base" .}}

{{define "content"}}
<div className="container">
  <div className="row">
    <div className="col">
        <h1>This is the Abou page</h1>
        <p>This is some text</p>
        <p>Text from the Template Data's String map: {{index .StringMap "test"}}</p>
    </div>
  </div>
</div>
{{end}}
