{{template "base" .}}

{{define "content"}}
<div className="container">
  <div className="row">
    <div className="col">
        <h1>This is the Home page</h1>
        <p>This is some text</p>
    </div>
  </div>
</div>
{{end}}